<div class = "ui grid">
    <div class="four wide column ">
        <div class="ui card">
            <div class="ui dimmer" [ngClass]="{ active: showChangeFields }">
                <div class="ui text loader"></div>
            </div>
            <div class = "image">
                <img src = "https://www.seekpng.com/png/detail/966-9665317_placeholder-image-person-jpg.png" alt = "Image">
            </div>
            <div class = "content">
                <p class = "header">{{ user?.name }}</p>
                <div class = "description">
                    {{ user?.email }}
                </div>
            </div>
        </div> 
    </div>

    <div class="twelve wide column ">
        <button class = "ui button" style = "background-color: coral; color: white; margin: 10px;" (click)="togglaChangeFields()">Change profile info</button>
        <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()" class="ui form" *ngIf="showChangeFields; else changeUserInfo">
            <div class="required fluid field" [ngClass]="{ error: usernameHasErrors() }" style="width:20%">
                <label>Username</label>
                <input type="text" formControlName="username">
            </div>
            <div class="required fluid field" [ngClass]="{ error: nameHasErrors() }" style="width:20%">
                <label>Name</label>
                <input type = "text" formControlName="name" >
            </div>
            <div class="required fluid field" [ngClass]="{ error: emailHasErrors() }" style="width:20%">
                <label>Email</label>
                <input type="email" formControlName="email" >
            </div>
            <button class = "ui button" type="submit" style ="background-color: coral; color: white; margin: 10px;">Save changes</button>
        </form>

        <ng-template #changeUserInfo>
            <p></p>
            <p>Click the button above to changer user info!</p>
        </ng-template>
    </div>
</div>
<div> 
    <button class = "ui button" style = "width: 270px; background-color: coral; color: white; margin: 10px;" (click)="logout()">Logout</button>
</div>