<div class="ui two row doubling stackable grid container">
    <div class="content row">
		<h2 class="ui header">{{ question.title }}</h2>
		<div class="extra">
			<h4>Asked at {{ question.createdAt }}</h4>
			<h4>Viewed <a>{{ question.views }}</a> times</h4>
			<h4 class="ui dividing header"></h4>
			<br>
		</div>
		<p>{{ question.description }}</p>
		<div class="extra">
			<div *ngIf="!(question.tags[0].length == 0)">
				<div class="ui label" *ngFor="let tag of question.tags">{{ tag }}</div>
			</div>
			<p><a>{{ question.author }}</a>'s question</p>
			<h4 class="ui dividing header"></h4>
			<h2>{{ question.answers }} answers</h2>
			<h4 class="ui dividing header"></h4>
		</div>
    </div>
	<app-comment-list [questionId]="question._id" (answerCountUpdate)="onUpdateAnswerCount($event)"></app-comment-list>
</div>