<div class="content">
    <div class="ui two column grid container">
        <div class="two wide column">
            <div class="content">
                <button class="ui positive basic icon button" (click)="onUpvoteButtonPressed(question)">
                    <i class="plus icon"></i>
                </button>
                <button class="ui negative basic icon button" (click)="onDownvoteButtonPressed(question)">
                    <i class="minus icon"></i>
                </button>
                <h3>{{ question.votes }} votes</h3>
                <h3>{{ question.views }} views</h3>
            </div>
        </div>
        <div class="fourteen wide column">
            <h2><a class="header" (click)="viewQuestion(question)">{{ question.title }}</a></h2>
            <div class="description">
                <p>{{ question.description }}</p>
            </div>
            <div class="extra">
                <div *ngIf="!(question.tags[0].length == 0)">
                    <br>
                    <div id="tags" class="ui label" *ngFor="let tag of question.tags" (click)="filterQuestionsByTag(tag)">{{ tag }}</div>
                </div>
                <br>
                <p><a>{{ question.author }}</a>'s question</p>
            </div>
            <h4 class="ui dividing header"></h4>
        </div>
    </div>
</div>
