<div class="comment our-comment">
  <a class="avatar">
    <img src="../../../assets/user2.png">
  </a>
  <div class="content">
    <a class="author">{{ comment.authorName }}</a>
    <div class="metadata">
      <span class="date">{{ comment.updatedAt }}</span>
      <div *ngIf="ownsComment">
        <button (click)="deleteComment()"><i class="trash icon"></i></button>
        <button (click)="toggleEditingMode()"><i class="edit icon"></i></button>
      </div>
    </div>
    <div class="rating">
      <button class="ui positive basic icon button" *ngIf="!ownsComment" (click)="upvote()"><i class="plus icon"></i></button>
      <button class="ui negative basic icon button" *ngIf="!ownsComment" (click)="downvote()"><i class="minus icon"></i></button>
      <i class="vote">
        {{ comment.votes }}
      </i>
    </div>
    <div *ngIf="editingMode">
      <form class="ui reply form" [formGroup]="editForm" (ngSubmit)="editComment(editForm.value)">
        <div class="field">
          <textarea formControlName="content"></textarea>
        </div>
        <button 
          class="ui labeled light-blue submit icon button" 
          type="submit" 
          [disabled]="!editForm.valid">
          <i class="icon edit"></i> Save
        </button>
      </form>
    </div>
    <div *ngIf="!editingMode" class="text">
      {{ comment.content }}
    </div>
  </div>
</div>