<form class="ui form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="required field" [ngClass]="{ error: usernameHasErrors() }" style="width:20%">
        <label>Username</label>
        <input type="text" placeholder="Username" formControlName="username"> 
    </div>

    <div class="required field" [ngClass]="{ error: passwordHasErrors() }" style="width:20%">
        <label>Password</label>
        <input type="password" placeholder="Password" formControlName="password">  
    </div>

    <div class="required field" [ngClass]="{ error: nameHasErrors() }" style="width:20%">
        <label>Name</label>
        <input type="text" placeholder="Name" formControlName="name"> 
    </div>

    <div class="required field" [ngClass]="{ error: emailHasErrors() }" style="width:20%">
        <label>Email</label>
        <input type="email" placeholder="Email" formControlName="email"> 
    </div>

    <div class="required field" [ngClass]="{ error: courseHasErrors() }" style="width:20%">
        <label>Course</label>
        <input type="text" placeholder="Course" formControlName="course"> 
    </div>

    <button class="ui button" type="submit" style = "background-color: coral; color: white; margin: 10px;">
        Register
    </button>
</form> 
